.railImage {
  width: 680px;
  margin-bottom: 30px;
  transition: all 0.2s ease-in-out;
}

.railImage:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.App {
  overflow: hidden;
  height: 100vh;
}

.dFlex {
  vertical-align: top;
  position: relative;
  display: inline-block;
  //top: -50vh;
  width: 680px;
  //height: 100vh;
  overflow: visible;
  margin-right: 30px;
}

.railOne {
  top: -3975px;
  animation: animateContainerOne 40s linear forwards infinite;
}
.railTwo {
  top: -4977px;
  animation: animateContainerTwo 50s linear forwards infinite;
}
.railThree {
  top: -5557px;
  animation: animateContainerThree 50s linear forwards infinite;
}

@keyframes animateContainerOne {
  0% {
    transform: translateY(calc(100vh - 60px));
  }
  50% {
    transform: translateY(calc(3975px));
  }
  100% {
    transform: translateY(calc(100vh - 60px));
  }
}

@keyframes animateContainerTwo {
  0% {
    transform: translateY(4977px);
  }
  50% {
    transform: translateY(calc(100vh - 60px));
  }
  100% {
    transform: translateY(4977px);
  }
}

@keyframes animateContainerThree {
  0% {
    transform: translateY(calc(100vh - 60px));
  }
  50% {
    transform: translateY(5557px);
  }
  100% {
    transform: translateY(calc(100vh - 60px));
  }
}
